
body{
  background-color: rgb(255, 253, 250);
}
.catMain{
  background-color: rgb(191, 247, 228);
  
}
.navbar-brand{
  text-align: center;
}
.card{

  transition: all 0.5s ease;
}
.card:hover{
  cursor:pointer;
  box-shadow: 0 .5rem 1rem rgb(255, 255, 255);
}
.d-grid{
  font-size: 20px;
}
.btn{
  background-color: rgb(222, 232, 233);
}
.bgc{
  background-color: rgb(222, 232, 233);
}
#we_home{
  background: rgb(0, 101, 219);
  background: linear-gradient(90deg, rgb(0,101,219) 50%, rgba(0,212 ,255,1) 100%);
  min-height: 500px;
}
#home{
  background-color: rgb(221, 159, 26);
  background: linear-gradient(90deg, rgb(221, 159, 26) 35%, rgb(223, 195, 118) 100%);
  height: 50vh;
}
.App {
  text-align: center;
}

.Navbar{
  max-height: 100vh;
  font-family: 'Gabriela', serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
